/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado principal */
.hero {
    background: url('imagenres/header.jpg') no-repeat center center/cover;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    color: #080808;
    justify-content: center;
}

.hero h1 {
    font-size: 60px;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding: 100px;
}

/* Estilos para la sección de proyectos */
.proyectos {
    text-align: center;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.grid img {
    width: 200px;
    height: 200px;
}

/* Estilos para la sección de feedback */
.feedback {
    background-color: #4cafaf;
    text-align: center;
    padding: 20px;
    color: white;
}

/* Estilos para la sección de información */
.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.mapa img {
    width: 100%;
    max-width: 300px;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    max-width: 600px;
}

/* Estilos para el pie de página */
footer {
    background-color: #211f1fa5; /* Fondo gris */
    color: rgb(244, 238, 238);
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer-container div {
    flex: 1;
}

.footer-bottom {
    background: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .info {
        flex-direction: column;
        text-align: center;
    }

    .mapa img {
        max-width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}